h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.headings{
    width: 40%;
    border: 2px solid red;
    margin: auto;
    display: flex;
    justify-content: space-around;
}